body{
    font-family: sans-serif;
    line-height: 1.2;
    height: 100%;
}
#full{
    width: 100%;
    position: fixed;
    height: 100%;
    z-index: -1;
    margin-top: -10px;
    margin-left: -10px;
}

iframe{
    width: 100%;
    position: fixed;
    height: 100%;
    z-index: -1;
    margin-top: -10px;
}
.wrapper{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

header{
    padding-left: 1em;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

header p{
    text-align: right;
    margin-right: 1em;
    margin-left: 800px;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
}

header h1
{
    color: orange;
    letter-spacing: .1em;
}

section.start{
    padding: 2em;
    min-width: 15em;
    margin: 2em;
    background-color: skyblue;
    color: black;
    border-radius: 1em;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 20%;
    -ms-flex: 1 0 20%;
    flex: 1 0 20%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
section.start img{
    width: 100%;
    height: auto;
}

section.start:hover{
    background-color: darkblue;
    cursor: pointer;
    color: white;
}

section.start p:nth-last-child(2){
    padding-bottom: 2em;
}

section.start button:last-child{
    width:9em;
    padding: .5em;
    background-color: #ad2020;
    border-radius: .5em;
    margin: auto auto 0 auto;
}

section.start button:last-child:hover{
    background-color: yellow;
}

